{% extends "base.html" %}
{% load static %}

{% block title %}
  Herme's | Results
{% endblock title %}

{% block content %}
<script src="{% static "zingchart/zingchart.min.js" %}"></script>
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "css/about-styles.css" %}"></script>

<section>
    <div class="headerImg">
      <img  class="img-fluid" src="{% static "img/vilmos-heim-svx0FyHsP6Q-unsplash.jpg" %}" alt="top image" style="width: 2000px; height: 700px">
    </div> 
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static "img/03.jpg" %}" alt="" style="width: 250px; height:250px">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 text-center">
          <div class="p-3">
            <h2 class="display-4">Do You Know!</h2>
            <p>{{ triva.info }}.</p>
          </div>
        </div>
      </div>
    </div>
  </section>        
  
  <section>
    <div class="container">
      <div class="row align-items-center p-5">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa ipsa neque autem ut tempora ratione officia optio sunt sapiente. Ut optio quidem aperiam accusantium atque tenetur tempora dignissimos commodi voluptas?
          Assumenda quis veritatis voluptatibus beatae eaque illo et perspiciatis nihil libero, inventore quaerat maiores quos odio doloremque perferendis, asperiores aspernatur fuga sapiente cum repellat provident. Labore veniam delectus amet sit!
          Voluptatum officia odit dolore ab, expedita officiis velit dolor sit, incidunt non rem similique! Expedita, rerum. Eveniet repellendus eius consequatur totam, quas ab dicta vel ipsa non laudantium dolor voluptatibus!
          Quaerat provident, pariatur enim, suscipit harum, assumenda ut doloribus earum delectus labore repudiandae illum. Magnam, eligendi qui consequatur mollitia vel iste veniam voluptate. Nesciunt tenetur corrupti aspernatur reprehenderit, vel a!
          Ut beatae corporis, repellendus commodi nisi similique quae eligendi veritatis nobis soluta illum quaerat, est voluptatum! At adipisci aliquam voluptas unde est totam iste et omnis sit, reiciendis, necessitatibus aperiam!
          Quas reiciendis consectetur veniam ex architecto laborum aliquid eos placeat iure quos? Modi fuga, laboriosam adipisci illum quo sapiente nulla, quidem eligendi quia repellat accusantium quisquam libero odit sunt officiis.
          Eos distinctio quibusdam consequuntur fugiat, impedit quaerat atque fuga inventore cumque vel! Ipsum quam porro eum veniam ea itaque voluptatibus, reprehenderit optio asperiores eligendi voluptas eaque vero fugit, obcaecati cum?
          Assumenda soluta obcaecati laborum iusto aliquid sunt amet eligendi, itaque, ab earum aspernatur nobis suscipit placeat ipsam dolor nesciunt quaerat quos impedit aliquam minus voluptatem quibusdam eveniet sint. Maxime, quae.
          Praesentium eos possimus voluptatibus tenetur sunt ab laborum corporis voluptas. In, minus. Veritatis consequuntur excepturi soluta maxime eligendi, dolore tempora amet a quisquam quidem facere saepe, veniam alias laborum! Ut.
          Ipsum commodi non porro magni soluta ducimus aspernatur cupiditate, recusandae blanditiis, enim accusantium. Explicabo, necessitatibus? Sunt iusto doloribus sint nulla, atque harum debitis veritatis optio accusamus explicabo hic quos nemo!
          Officiis, nostrum, commodi sit ducimus iure omnis esse architecto impedit, enim soluta hic sunt necessitatibus libero velit quo vero fugiat. Facilis a animi minus sequi tenetur iusto natus voluptatibus impedit!
          Inventore quod nostrum rem tempora quos alias. Rem quis ut maxime exercitationem. Veniam quaerat, saepe earum, asperiores nulla natus exercitationem nam, modi similique ad animi vero quas in voluptate suscipit?
          Iste sapiente perferendis nisi iusto. Accusantium expedita, aut laudantium omnis explicabo tempore! Tenetur culpa minima eligendi perferendis quisquam eius sint laboriosam ea provident alias earum mollitia, quae, iure vel. Tenetur!
          Voluptatibus culpa corrupti magni quaerat a consequuntur? Quaerat minima sequi perferendis cum officia reprehenderit consectetur inventore porro alias incidunt, dolor ullam maiores fugit, excepturi quo distinctio architecto eos et hic!
          Sunt voluptate iusto quia quaerat numquam saepe, reprehenderit exercitationem cum accusamus praesentium itaque. Soluta nostrum, modi, fuga fugiat voluptates quis expedita sequi eveniet architecto quidem reiciendis aut debitis at repellat!
          Dolor quis, distinctio, possimus vero, ad earum placeat at maiores maxime aspernatur ducimus sint magnam itaque velit architecto quasi porro soluta saepe. Quae, itaque cum enim labore nemo illum vitae.
          Odio vero laboriosam voluptate, deleniti ipsam quaerat eius sapiente alias eaque nesciunt placeat sunt nihil illo, aliquid labore blanditiis maiores consequatur doloribus. Quos reprehenderit culpa rerum eaque, aliquid est tempora!
          Ad ex eos possimus blanditiis veniam assumenda quae exercitationem ab praesentium, dolores expedita beatae nulla ratione quibusdam fugiat nesciunt animi unde quod accusantium recusandae perspiciatis sequi ducimus repellendus. Quis, aliquid.
          Delectus dolores quisquam dignissimos cum obcaecati dolore soluta sequi iusto, odit quam quasi neque ea, sit, adipisci veritatis eveniet quibusdam? Quibusdam corporis natus delectus dicta fugit. Earum asperiores natus aliquam.
          Fuga similique inventore quam architecto qui dolor. Voluptates laudantium quo laboriosam similique molestias praesentium inventore porro voluptatum a, obcaecati nulla deserunt veritatis aliquid quam voluptate quas perferendis quae! Harum, eos.</p>
      </div>
    </div>
  </section> 
{% endblock content %}
