{% extends "base.html" %}
{% load static %}

{% block title %}
  Herme's | Home
{% endblock title %}

{% block content %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Herme's 2020 Award's</h1>
        <h2 class="masthead-subheading mb-0">Music Will Rock Your Socks Off...</h2>
        <a href="{% url "About" %}" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static "img/01.jpg" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 text-center">
          <div class="p-5">
            <h2 class="display-4">For those about to rock...</h2>
            <p>Music at its best, within the right environment at the right time, giving the taste of music to all people with a distinct taste of royalty and uniqueness always.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 ">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static "img/02.jpg" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="p-5">
            <h2 class="display-4">We salute you!</h2>
            <p>We give honour to whom honour is due, rewarding excellence in music since 1988, giving all pure talent out there an equal oppurtunity to raise to the limelight in their career to unshielded excellence.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static "img/03.jpg" %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 text-center">
          <div class="p-5">
            <h2 class="display-4">Let there be rock!</h2>
            <p>Declaring the good in all music, we bring out the best of the best and present them to you, with no mix of ingenuity and discrimination, equal for all, oppurtunity for all and space of all.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <div class="row container-fluid">
    <br>
    <div class="col-md-4 col-sm-6 col-12"></div>
    <div class="col-md-4 col-sm-6 col-12">
      <h2 class="display-4 text-center"> Awards Categories</h2>
      <h6 class=" text-center">The 2020 categories of award</h6>
      <div class="container">
        <hr>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12"></div>
  </div>

  <div class="container">
    
  <div class="row ">
    {% for item in award %}
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-info"><i class="fas fa-music"></i></span>

        <div class="info-box-content">
          <span class="info-box-text lead"><i class="fas fa-chess-queen"></i> | {{ item.award_name }}</span>
          <span class="info-box-number"><i class="fas fa-user-friends"></i> | {{ item.artistNum }} Artist'{{ item.artistNum | pluralize }}</span>
          <span class="row">
            <div class="col-md-6 col-sm-6 col-12 pb-2">
              <a href="{% url "Vote" award_id=item.id %}"><button type="button" class="btn btn-block btn-md btn-outline-info">Vote</button></a>
            </div>
            <hr>
            <div class="col-md-6 col-sm-6 col-12">
              <a href="{% url "Results" award_id=item.id %}"><button type="button" class="btn btn-block btn-outline-secondary">Results</button></a>
            </div>            
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    {% endfor %}
  </div>
  </div>

  <br>
  <div class="row container-fluid">
    <br>
    <div class="col-md-4 col-sm-6 col-12"></div>
    <div class="col-md-4 col-sm-6 col-12">
      <h2 class="display-4 text-center"> Our  Team</h2>
      <h6 class=" text-center">Competent achievers in the industry</h6>
      <div class="container">
        <hr>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12"></div>
  </div>

  <div class="container">
    
  <div class="row">
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="card card-widget widget-user" >
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-username">Alexander Pierce</h3>
          <h5 class="widget-user-desc">Founder &amp; CEO | Liryae Musics </h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="{% static "img/01.jpg" %}" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">23</h5>
                <span class="description-text">Albums</span>
                <i class="fas fa-coins"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">13</h5>
                <span class="description-text">Awards</span>
                <i class="fas fa-award"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">Singles</span>
                <i class="fab fa-itunes-note"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-username">Ander Rice</h3>
          <h5 class="widget-user-desc">Band Lead | Firys Music</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="{% static "img/02.jpg" %}" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">3</h5>
                <span class="description-text">Albums</span>
                <i class="fas fa-coins"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">9</h5>
                <span class="description-text">Awards</span>
                <i class="fas fa-award"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">Singles</span>
                <i class="fab fa-itunes-note"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-username">Benji Seehan</h3>
          <h5 class="widget-user-desc">Vocalist | Trebee Boys</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle elevation-2" src="{% static "img/01.jpg" %}" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">10</h5>
                <span class="description-text">Album</span>
                <i class="fas fa-coins"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
              <div class="description-block">
                <h5 class="description-header">13</h5>
                <span class="description-text">Awards  </span>
                <i class="fas fa-award"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
              <div class="description-block">
                <h5 class="description-header">35</h5>
                <span class="description-text">Singles</span>
                <i class="fab fa-itunes-note"></i>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <!-- /.col -->
  </div>
  </div>
{% endblock content %}
